.Header a {

    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
    color: rgb(216, 159, 88);

}

.Header a:hover {

    background-color: tomato;
    border-radius: 10px;
    padding: 10px;
}

.active {

    background-color: rgb(230, 23, 23);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}